<div fxLayout="column" fxLayoutAlign="start center">
  <div
    class="home-header project-bg-blue1 mat-elevation-z4"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <p class="header-title">新しいGift Treeへようこそ</p>
    <img class="application-logo" src="assets/palm-tree-logo.svg" />
    <div class="header-sub-title">
      スポットでつながる
      <br />
      人とつながる
      <br />
      世界が広がる
    </div>
  </div>

  <div class="application-detail-text project-fg-black1">
    GiftTreeはスポットからクーポンやチラシなどの情報を入手し、自身が利用するだけでなく周りにおすそ分けすることができるサービスです
  </div>

  <button mat-button class="start-button mat-elevation-z2" [routerLink]="'/login'">
    使ってみる
  </button>
</div>
