@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* background colors */
.project-bg-white1 {
  background-color: #ffffff;
}

.project-bg-white2 {
  background-color: #f2f2f2;
}

.project-bg-blue1 {
  background-color: #3883dc;
}

.project-bg-purple1 {
  background-color: #9165ea;
}

/* foreground colors */
.project-fg-white1 {
  color: #ffffff;
}

.project-fg-black1 {
  color: #364862;
}

.project-fg-blue1 {
  color: #4873c4;
}

/* other settings */
body {
  margin: 0;
}

.page-container {
  height: 100vh;
  min-height: -webkit-fill-available;
}

.main-container {
  /* ヘッダーとコントロールパネルの高さ分引く */
  height: calc(100vh - 65px - 50px);
  width: 100vw;
  overflow: auto;
}

.header-content {
  width: 100%;
  height: 65px;
}

.header-title {
  white-space: nowrap;
  font-weight: bold;
  font-size: 16pt;
  text-decoration: none;
}

.mat-snack-bar-container {
  padding: 0 !important;
  min-height: 50px !important;
}

.app-loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
