.snack-bar {
  padding: 6px 4px 6px 20px;
}

.success-snack-bar {
  background-color: #c6f6d5;
}

.success-snack-bar-badge {
  color: #38a169;
}

.info-snack-bar {
  background-color: #bee3f8;
}

.info-snack-bar-badge {
  color: #3182ce;
}

.warn-snack-bar {
  background-color: #fdeacb;
}

.warn-snack-bar-badge {
  color: #dd6b20;
}

.error-snack-bar {
  background-color: #fdd7d7;
}

.error-snack-bar-badge {
  color: #e53e3e;
}

.error-message {
  font-size: 0.9rem;
  color: #2d3748;
}
