.ranking-card {
  width: 80vw;
}

.login-user-ranking-card {
  margin-top: 20px;
}

.ranking-card-content {
  width: 80%;
}

.ranking-table-row {
  width: 100%;
}

.trophy-icon {
  width: 60px;
  font-size: 2.3rem;
  margin-right: 20px;
}

.user-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.user-icon-no-image {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.user-name {
  margin-left: 10px;
  width: 100px;
}

.score {
  font-size: 0.7rem;
  text-align: right;
  width: 20px;
}

.login-user-rank {
  width: 60px;
  margin-right: 20px;
}

.trophy-gold {
  color: #dab300;
}

.trophy-silver {
  color: #bec1c3;
}

.trophy-copper {
  color: #c47022;
}
