<div class="profile-container" fxLayout="column" fxLayoutAlign="start center">
  <div
    class="user-icon-container mat-elevation-z3"
    fxLayoutAlign="center center"
    fxFlexOffset="30px"
  >
    <img
      class="user-icon"
      src="https://storage.googleapis.com/gift-tree-storage/icons/7c5f569b-bcb2-9383-e8d5-98a66024cfa9"
    />
  </div>

  <span class="user-name" fxFlexOffset="30px">阿部 健太朗</span>

  <div fxLayout="column" fxLayoutAlign="start start" fxFlexOffset="20px" style="width: 80%">
    <h3>最近のログ</h3>
    <span class="log-text">2021/12/6 クマさんからギフトを受け取りました</span>
    <span class="log-text">2021/12/6 FKDにギフトを送りました</span>
    <span class="log-text">2021/12/6 アカウント作成</span>
  </div>
</div>
