.user-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.user-icon-no-image {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.user-name {
  margin-left: 10px;
  width: 100px;
}

.submit-button {
  margin-top: 10px;
  color: #ffffff;
  border-color: #3a7aca !important;
  height: 40px;
}
