<div
  fxLayout="column"
  fxLayoutAlign="space-between start"
  fxLayoutGap="20px"
  class="dialog-content"
>
  <h2 mat-dialog-title class="project-fg-black1">{{ data.title }}</h2>
  <mat-dialog-content class="project-fg-black1">{{ data.message }}</mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button class="submit-button" (click)="onOkClick()">確認</button>
    <button mat-flat-button class="cancel-button" mat-dialog-close="cancel">キャンセル</button>
  </mat-dialog-actions>
</div>
