<div
  class="control-panel-container project-bg-white1 mat-elevation-z4"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <div class="buttons-container" fxLayout="row" fxLayoutAlign="space-between">
    <a
      class="control-panel-button project-fg-black1"
      fxLayout="column"
      fxLayoutAlign="start center"
      [routerLink]="'/gifts'"
      [routerLinkActive]="'project-fg-blue1'"
    >
      <mat-icon>redeem</mat-icon>
      <span>ギフト</span>
    </a>

    <a
      class="control-panel-button project-fg-black1"
      fxLayout="column"
      fxLayoutAlign="start center"
      [routerLink]="'/ranking'"
      [routerLinkActive]="'project-fg-blue1'"
    >
      <mat-icon>emoji_events</mat-icon>
      <span>ランキング</span>
    </a>

    <button
      mat-button
      class="control-panel-button"
      fxLayout="column"
      fxLayoutAlign="start center"
    ></button>

    <a
      class="control-panel-button project-fg-black1"
      fxLayout="column"
      fxLayoutAlign="start center"
      [routerLink]="'/notifications'"
      [routerLinkActive]="'project-fg-blue1'"
    >
      <mat-icon>notifications</mat-icon>
      <span>通知</span>
    </a>

    <a
      class="control-panel-button project-fg-black1"
      fxLayout="column"
      fxLayoutAlign="start center"
      [routerLink]="'/profile'"
      [routerLinkActive]="'project-fg-blue1'"
    >
      <mat-icon>settings</mat-icon>
      <span>設定</span>
    </a>
  </div>

  <div
    class="receive-button-container project-bg-white1 mat-elevation-z4"
    fxLayout="row"
    fxLayoutAlign="center center"
  ></div>
  <div class="receive-button" fxLayout="row" fxLayoutAlign="center center">
    <button mat-fab class="receive-button-click-area mat-elevation-z0">
      <img class="receive-button-logo" src="assets/palm-tree-logo.svg" />
    </button>
  </div>

  <div
    class="to-hidden-shadow-container project-bg-white1"
    fxLayout="row"
    fxLayoutAlign="space-between"
  ></div>
</div>
