<div
  class="control-panel-container project-bg-white1 mat-elevation-z4"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <div class="buttons-container" fxLayout="row" fxLayoutAlign="space-between">
    <div class="control-panel-button" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>redeem</mat-icon>
      <span>ギフト</span>
    </div>

    <div class="control-panel-button" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>emoji_events</mat-icon>
      <span>ランキング</span>
    </div>

    <div class="control-panel-button" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>park</mat-icon>
      <span>受け取り</span>
    </div>

    <div class="control-panel-button" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>notifications</mat-icon>
      <span>通知</span>
    </div>

    <div class="control-panel-button" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>settings</mat-icon>
      <span>設定</span>
    </div>
  </div>
</div>
